.AndroidStudio3.5/
.ICEauthority
.Xauthority
.android/
.bash_history
.bash_logout
.bashrc
.cache/
.dbus/
.dmrc
.emulator_console_auth_token
.gconf/
.gnupg/
.gradle/
.gtkrc-xfce
.ipython/
.jack-server/
.jack-settings
.java/
.lesshst
.linuxmint/
.local/
.mozilla/
.npm/
.nwinkler_random_colors
.oh-my-bash/
.osh-update
.pki/
.presage/
.profile
.repo_.gitconfig.json
.repoconfig/
.sdirs
.selected_editor
.semantic-highlight-cache
.ssh/
.sudo_as_admin_successful
.thunderbird/
.vim/
.vnc/
.xinputrc
.xsession-errors
.xsession-errors.old
Android/
AndroidStudioProjects/
Desktop/
Downloads/
Public/
Templates/
VirtualBox VMs/
android-studio/
android/
scripts/
vm/



.aqemu/
.bashrc.pre-oh-my-bash
.gitconfig
.gtkrc-2.0
.tmux.conf
.tmux.conf.local
.tmux/
antigame.sh

